{% liquid
  assign c = "AccountResetPassword"
  assign form_class = c | append: "__reset-form"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <div class="{{c}}__inner">
    <div class="{{c}}__header h4">reset password</div>
    {% form 'reset_customer_password',
      class: form_class,
      return_to: '/account/login'
    %}

      <div class="{{c}}__field AccountForm__field">
        <input
          class="{{c}}__input AccountForm__input"
          type="password"
          id="{{c}}__password"
          name="customer[password]"
          aria-label="Password"
          placeholder="Password"
          required
        >
        <label
          class="{{c}}__label AccountForm__label caption"
          for="{{c}}__password"
        >
          Password
        </label>
      </div>

      <div class="{{c}}__field AccountForm__field">
        <input
          class="{{c}}__input AccountForm__input"
          type="password"
          id="{{c}}__confirm-password"
          name="customer[password_confirmation]"
          aria-label="Confirm Password"
          placeholder="Confirm Password"
          required
        >
        <label
          class="{{c}}__label AccountForm__label caption"
          for="{{c}}__confirm-password"
        >
          Confirm Password
        </label>
      </div>

      {% if form.errors %}
        <div class="{{c}}__error copy">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}
      <button
        class="{{c}}__submit cta cta--black"
        type="submit"
        aria-label="reset password"
      >
        Reset Password
      </button>
    {% endform %}
  </div>
</div>
