{% liquid
  assign c = "AutocompleteSearchProductHits"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <div class="{{c}}__title subheader">
    Products
  </div>

  <div class="{{c}}__container js-searchProductHits"></div>

  <div class="{{c}}__stats-wrap js-searchStatsContainer"></div>
</div>
