{% liquid
  assign c = 'CartItem'
  assign item = item
  assign upsell_keys = upsell_keys
  assign item_image = item.image
  assign image_component_class = c | append: '__image-wrap'
  assign image_class = c | append: '__image'
  assign direct_src = false

  assign has_selling_plan = item.variant.selling_plan_allocations | size
  if has_selling_plan == 0
    assign has_selling_plan = false
  endif

  assign cart_no_follow = false
  if item.product.tags contains 'cart-no-follow'
    assign cart_no_follow = true
  endif

  if item.properties._thumbnail != blank
    assign item_image = item.properties._thumbnail
    assign image_class = c | append: '__custom-image'
    assign direct_src = true
  endif

  assign hide_quantity_button = false
  if item.product.tags contains 'vefrewards' or item.product.tags contains 'cart-no-qty'
    assign hide_quantity_button = true
  endif

  assign gwp_qualifier = ''
  assign gwp_gift = ''
  for tag in item.product.tags
    if tag contains 'gwp-qualifier:'
      assign gwp_qualifier = gwp_qualifier | append: tag | remove: 'gwp-qualifier:' | append: ','
    endif
    if tag contains 'gwp-gift:'
      assign gwp_gift = gwp_gift | append: tag | remove: 'gwp-gift:' | append: ','
    endif
  endfor
%}

<div
  class="{{c}}"
  data-component="{{c}}"
  data-id="{{ item.id }}"
  data-key="{{ item.key }}"
  data-product-id="{{ item.product.id }}"
  data-quantity="{{ item.quantity }}"
  {% if upsell_keys != blank %}
    data-associated-product-key="{{ upsell_keys }}"
  {% endif %}
  {% unless gwp_qualifier == '' %}
    data-gwp-qualifier="{{ gwp_qualifier }}"
  {% endunless %}
  {% unless gwp_gift == '' %}
    data-gwp-gift="{{ gwp_gift }}"
  {% endunless %}
>
  <a
    class="{{c}}__image-link"
    {% unless cart_no_follow %}
      href="{{ item.url }}"
    {% endunless %}
  >
    {% render 'image',
      component_class: image_component_class,
      class: image_class,
      image: item_image,
      direct_src: direct_src,
      sizes: '0'
    %}
  </a>

  <div class="{{c}}__info">
    <div class="{{c}}__header">
      <a
        class="{{c}}__title body"
        {% unless cart_no_follow %}
          href="{{ item.url }}"
        {% endunless %}
      >
        {{ item.product.title }}
      </a>

      <div class="{{c}}__price body">
        {{ item.price | money_without_trailing_zeros }}
      </div>
    </div>

    <div class="{{c}}__line-items">
      {% for option in item.options_with_values %}
        {% unless option.name == 'Title' %}
          <div class="{{c}}__line-item body-s">
            {% render 'product-option-name', option_name: option.name %}: {{ option.value }}
          </div>
        {% endunless %}
      {% endfor %}

      {% for property in item.properties %}
        {% assign first_char = property.first | slice: 0 %}

        {% unless first_char == '_' %}
          {% assign key = property.first | split: '_' %}

          {% capture first_capitalized %}
            {% for word in key %}
              {{ word | capitalize }}
            {% endfor %}
          {% endcapture %}

          <div class="{{c}}__line-item {{ property.first }} body-s">{{ first_capitalized }}: {{ property.last }}</div>
        {% endunless %}
      {% endfor %}
      {% if has_selling_plan %}
        <div class="{{c}}__selling-plan">
          <select
            class="{{c}}__selling-plan-selector body-s js-sellingPlanSelector"
            name="selling-plan"
            data-line="{{ forloop.index }}"
            data-quantity="{{ item.quantity }}"
          >
            {% for selling_plan_allocation in item.variant.selling_plan_allocations %}
              {% assign target_app_id = '5859381' %}
              {% assign show_option = false %}

              {% for group in item.product.selling_plan_groups %}
                {% if group.app_id == target_app_id %}
                  {% for plan in group.selling_plans %}
                    {% if plan.id == selling_plan_allocation.selling_plan.id %}
                      {% assign show_option = true %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

              {% if show_option %}
                <option
                  value="{{ selling_plan_allocation.selling_plan.id }}"
                  {% if item.selling_plan_allocation.selling_plan.id == selling_plan_allocation.selling_plan.id %}
                    selected="selected"
                  {% endif %}
                >
                  {{ selling_plan_allocation.selling_plan.name }}
                </option>
              {% endif %}
            {% endfor %}
            <option
              value=""
              {% if item.selling_plan_allocation.selling_plan.id == null %}
                selected="selected"
              {% endif %}
            >
              One-time purchase
            </option>
          </select>
        </div>
      {% endif %}
    </div>

    <div class="{{c}}__controls">
      {% unless hide_quantity_button %}
        <div class="{{c}}__quantity-selector js-qtySelector">
          <button
            class="{{c}}__quantity-btn js-minusQtyBtn"
            aria-label="Remove a {{ item.title }} from cart"
          >
            {% render 'component-icon', icon: 'quantity-minus' %}
          </button>

          <div class="{{c}}__quantity-value body-s">
            {{ item.quantity }}
          </div>

          <button
            class="{{c}}__quantity-btn js-addQtyBtn"
            aria-label="Add a {{ item.title }} from cart"
          >
            {% render 'component-icon', icon: 'quantity-plus' %}
          </button>
        </div>
      {% endunless %}

      <button
        class="{{c}}__remove-btn body-s js-removeBtn"
        aria-label="Remove {{ item.title }} from cart"
      >
        Remove
      </button>
    </div>
  </div>
</div>
