{% liquid
  assign c = "CollectionSecretSale"
%}

<div
  class="{{c}}"
>

  <div class="{{c}}__container">
    <div class="{{c}}__wrapper">
      <div class="{{c}}__top">
        <div class="{{c}}__icon">
          ?
        </div>
        <div class="{{c}}__heading h1">
          We've been keeping a secret.
        </div>
        <div class="{{c}}__image">
          <img
            class="{{ class }} fallback-aspect"
            src="https://cdn.shopify.com/s/files/1/0859/1856/files/Site_Banner_TB2.jpg?v=1732142687"
            alt="{{ alt }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading="{{ loading }}"
          >
        </div>
        <div class="{{c}}__subheading subheader">
          <div>Our celebrated past collections have returned for a <strong>limited time</strong> to the Venus vault with <strong>exclusive pricing</strong>.</div>
          <div>You are invited to create an account to secure exclusive access to our archival collection.</div>
        </div>
      </div>
</div>
