{% liquid
  assign c = "CollectionTitle"
  assign collection = collection
  assign title_is_overlay = title_is_overlay | default: false
  assign hide_collection_image = hide_collection_image | default: false
%}

<div class="{{c}} {% if title_is_overlay %}title-is-overlay{% endif%} {% if hide_collection_image %}extra-margin{% endif %}">
  <div class="{{c}}__title-content">
    <h1 class="{{c}}__title h2">
      {{ collection.title | remove: '[hidden]' }}
    </h1>

    {% if collection.description %}
      <div class="{{c}}__description">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</div>
