{% liquid
  assign c = "CorporateForm"
  assign id_prefix = c | handleize | append: '--'
  assign settings = settings | default: false
  assign action_url = settings.action_url | default: false
  assign success_message = settings.success_message | default: false
  assign header = settings.header | default: false
  assign body = settings.body | default: false
  assign tiers = settings.tiers | split: "|" | default: false
%}

<div
  class="{{c}}"
  id="{{c}}"
  data-component="{{c}}"
>
  <div class="{{c}}__container">
    <div class="{{c}}__intro">
      <h2 class="{{c}}__header h4">
        {{ header }}
      </h2>
      <p class="{{c}}__body body">
        {{ body }}
      </p>
    </div>
    <form
      class="js-corporate-form {{c}}__form"
      data-action-url="{{ action_url }}"
    >
      <div class="{{c}}__fields">
        <input type="hidden" name="_gotcha">

        <fieldset class="{{c}}__fieldset">
          <legend class="{{c}}__legend subheader">Estimated number of arrangements:</legend>

          <div class="{{c}}__qtyTiers">
            {%- for raw_tier in tiers -%}
              {%- assign tier = raw_tier | strip | escape -%}
              <div class="{{c}}__qtyTierContainer">
                <div class="{{c}}__qtyTierButton">
                  <input
                    class="{{c}}__qtyTierRadio"
                    type="radio"
                    name="quantity"
                    value="{{ tier }}"
                    id="{{ id_prefix | append: 'quantity-' | append: tier }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                </div>
                <label
                  class="{{c}}__qtyTierLabel"
                  for="{{ id_prefix | append: 'quantity-' | append: tier }}"
                >
                  <span class="{{c}}__option-title">
                    {{ tier }}
                  </span>
                </label>
              </div>
            {%- endfor -%}
          </div>
        </fieldset>

        {%- if section.blocks.size > 0 -%}
          <div class="{{c}}__product">
            {%- assign field_id = id_prefix | append: 'product' -%}
            <label
              for="{{ field_id }}"
              class="{{c}}__productSelectLabel"
            >
              Select products
            </label>
            <div class="{{c}}__productSelectContainer">
              <select id="{{ field_id }}" name="product">
                {%- for block in section.blocks -%}
                  {%- assign title = block.settings.product.title | default: '' | strip_newlines | strip | escape -%}

                  {%- if title != blank -%}
                    <option value="{{ title }}">
                      {{ title }}
                    </option>
                  {%- endif -%}
                {%- endfor -%}
              </select>
            </div>
          </div>
        {%- endif -%}

        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'name' }}"
            class="{{c}}__textFieldInput body"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
          <label
            for="{{ id_prefix | append: 'name' }}"
            class="{{c}}__textFieldLabel caption"
          >
            Your name
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'company' }}"
            class="{{c}}__textFieldInput body"
            type="text"
            name="company"
            placeholder="Company"
            required
          />
          <label
            for="{{ id_prefix | append: 'company' }}"
            class="{{c}}__textFieldLabel caption"
          >
            Your company
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'email' }}"
            class="{{c}}__textFieldInput body"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
          <label
            for="{{ id_prefix | append: 'email' }}"
            class="{{c}}__textFieldLabel caption"
            required
          >
            Your email
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            type="tel"
            id="{{ id_prefix | append: 'phone' }}"
            class="{{c}}__textFieldInput body"
            name="phone"
            maxlength="50"
            placeholder="Phone"
            required
          />
          <label
            for="{{ id_prefix | append: 'phone' }}"
            class="{{c}}__textFieldLabel caption"
          >
            Your phone number
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'date' }}"
            class="{{c}}__textFieldInput {{c}}__textFieldInput--date caption js-date-input"
            type="text"
            name="date"
            placeholder="Event Date"
            required
          />
          <label
            for="{{ id_prefix | append: 'date' }}"
            class="{{c}}__textFieldLabel {{c}}__textFieldLabel--date caption"
          >
            Event Date (mm/dd/yyyy)
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'state' }}"
            class="{{c}}__textFieldInput body"
            type="text"
            name="state"
            placeholder="State"
            required
          />
          <label
            for="{{ id_prefix | append: 'state' }}"
            class="{{c}}__textFieldLabel caption"
          >
            State
          </label>
        </div>
        <div class="{{c}}__textFieldContainer">
          <input
            id="{{ id_prefix | append: 'zip' }}"
            class="{{c}}__textFieldInput body"
            type="text"
            name="zip"
            max=""
            placeholder="Zip"
            required
          />
          <label
            for="{{ id_prefix | append: 'zip' }}"
            class="{{c}}__textFieldLabel caption"
          >
            Zip code
          </label>
        </div>
        <div class="{{c}}__textareaFieldContainer">
          <label
            for="{{ id_prefix | append: 'message' }}"
            class="{{c}}__textareaFieldLabel caption"
          >
            Share more information about your request:
          </label>
          <textarea
            id="{{ id_prefix | append: 'message' }}"
            class="{{c}}__textareaFieldInput body"
            name="message"
            rows="4"
            required
          ></textarea>
        </div>
        <div class="{{c}}__submitContainer">
          <button type="submit" class="{{c}}__submitButton cta cta--black">
            Submit
          </button>
        </div>
      </div>
    </form>
    <div class="{{c}}__success js-corporate-form-success">
      <div class="{{c}}__successContent">
        {{ success_message }}
      </div>
    </div>
    <div class="js-corporate-form-error {{c}}__error">
    </div>
  </div>
</div>
