{% liquid
  assign c = "DeliverySelectionPage"
  assign section = section

  assign image = section.image
  assign video = section.video | default: false
  assign image_component_class = c | append: '__image-wrap'
  assign image_class = c | append: '__image'
  assign video_component_class = c | append: '__video-wrap'
  assign video_class = c | append: '__video'
  assign control_modifier_class = c | append: '__video-control'
%}

<div class="{{c}}">
  <div class="{{c}}__col">
    <div class="{{c}}__content">
      <h1 class="{{c}}__title h3">
        {{ section.title }}
      </h1>

      {%
        render 'delivery-selection-form',
        section: section,
      %}
    </div>
  </div>

  <div class="{{c}}__col">
    {% if video %}
      {%  liquid
        assign video_src = video.sources | where: 'mime_type', 'video/mp4' | first
        assign poster = video.preview_image | image_url: width: 1024
      %}
      {% 
        render 'video',
        component_class: video_component_class,
        class: video_class,
        video: video_src.url,
        poster: poster,
        control_modifier_class: control_modifier_class,
      %}

    {% else %}
      {%
        render 'image',
        component_class: image_component_class,
        class: image_class,
        image: image,
        sizes: '300,420,567,660,768,1024,1366'
      %}

    {% endif %}
  </div>

  {%
    render 'delivery-selection-load-screen',
    section: section,
  %}
</div>
