{% liquid assign c = "LoyaltySteps" %}

<div 
  class="{{ c }}"
  id="{{c}}"
  data-component="{{c}}"
>
  <div class="{{ c }}__container">
    <h2 class="{{ c }}__header h4">How it Works</h2>

    <ul class="{{ c }}__list-container">
      <li class="{{ c }}__item">
        <div class="{{ c }}__index-container h4">
          <span class="{{ c }}__index"> 1 </span>
        </div>
        <div class="{{ c }}__item-header subheader">Join</div>
        <div class="{{ c }}__item-body body">
          Create an account and start earning points toward exclusive rewards.
        </div>
      </li>

      <li class="{{ c }}__item">
        <div class="{{ c }}__index-container h4">
          <span class="{{ c }}__index"> 2 </span>
        </div>
        <div class="{{ c }}__item-header subheader">Earn Points</div>
        <div class="{{ c }}__item-body body">
          Earn points for purchases, following us on social, and more.
        </div>
      </li>

      <li class="{{ c }}__item">
        <div class="{{ c }}__index-container h4">
          <span class="{{ c }}__index"> 3 </span>
        </div>
        <div class="{{ c }}__item-header subheader">Redeem</div>
        <div class="{{ c }}__item-body body">
          Use points towards exclusive access to events, early access shopping,
          birthday gifts, and more.
        </div>
      </li>
    </ul>

    {%- unless customer -%}
    <div class="{{ c }}__btn btn-copy cta--black js-joinRewards">
      <span class="{{ c }}__cta-text">JOIN NOW</span>
    </div>
    {%- endunless -%}

  </div>
</div>
