{% liquid
  assign c = "LoyaltyTierCompare"
%}

<div
  id="{{c}}"
  class="{{c}}"
  
>
  <div class="{{c}}__header h4">Loyalty Tiers</div>

  <table class="{{c}}__tier-table">
    <thead>
      <tr class="{{c}}__tier-row">
        <th class="{{c}}__tier-item {{c}}--tier-column-header"></th>
        <th class="{{c}}__tier-item {{c}}--tier-column-header --tier01">
          <div class="{{c}}__tier-title">
            Tier 01</div>
          <div class="{{c}}__tier-title-spend">
            $0+/YR</div>
        </th>
        <th class="{{c}}__tier-item {{c}}--tier-column-header --tier02">
          <div class="{{c}}__tier-title">
            Tier 02</div>
          <div class="{{c}}__tier-title-spend">
            $150+/YR</div>
        </th>
        <th class="{{c}}__tier-item {{c}}--tier-column-header --tier03">
          <div class="{{c}}__tier-title">
            Tier 03</div>
          <div class="{{c}}__tier-title-spend">
            $750+/YR</div>
        </th>
        <th class="{{c}}__tier-item {{c}}--tier-column-header --tier04">
          <div class="{{c}}__tier-title">
            Tier 04</div>
          <div class="{{c}}__tier-title-spend">
            $2500+/YR</div>
        </th>
      </thead>  
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Earn 1 Point Per Dollar Spent</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --tier01">1x</td>
      <td class="{{c}}__tier-item --tier02">2x</td>
      <td class="{{c}}__tier-item --tier03">3x</td>
      <td class="{{c}}__tier-item --tier04">4x</td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Birthday Gift</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}</div></th>
      <td class="{{c}}__tier-item --tier01">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier02">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
        Give $20 Get $20 for Referrals</div>
        <div class="{{c}}__tooltip-icon">
        {%- render 'component-icon' icon: 'question' -%}</div></th>
      <td class="{{c}}__tier-item --tier01">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier02">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div></td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Early Access to New Arrivals</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div></th>
      <td class="{{c}}__tier-item --tier01">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier02">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Early Access to Limited Edition Drops</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier02">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Double Points Day Access</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier02">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier04 --no-tier">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          VIP Event Invites</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Complimentary Shipping</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier03">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">
          Exclusive Welcome Gift</div>
        <div class="{{c}}__tooltip-icon">
          {%- render 'component-icon' icon: 'question' -%}
        </div>
      </th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
    <tr class="{{c}}__tier-row">
      <th class="{{c}}__tier-item --no-tier">
        <div class="{{c}}__tier-title">Dedicated VIP Support</div>
        <div class="{{c}}__tooltip-icon">
        {%- render 'component-icon' icon: 'question' -%}
      </div></th>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --no-tier"></td>
      <td class="{{c}}__tier-item --tier04">
        {%- render 'component-icon' icon: 'circle-check' -%}</div>
      </td>
    </tr>
  </table>

  <div class="{{c}}__benefits-list">
    <div class="{{c}}__tier-item {{c}}--tier-column-header --tier01">
      <div class="{{c}}__tier-title">
        Tier 01</div>
      <div class="{{c}}__tier-title-spend">
        $0+/YR</div></div>
    <div class="{{c}}__tier-item --tier01-light">
      <div class="{{c}}__tier-title">
        Earn 1 Point per Dollar Spent</div></div>
    <div class="{{c}}__tier-item --tier01-light">
      <div class="{{c}}__tier-title">
        Birthday Gift</div></div>
    <div class="{{c}}__tier-item --tier01-light">
      <div class="{{c}}__tier-title">
        Give $20 Get $20 for Referrals</div></div>
    <div class="{{c}}__tier-item --tier01-light">
      <div class="{{c}}__tier-title">
        Early Access to New Arrivals</div></div>
    <div class="{{c}}__tier-item {{c}}--tier-column-header --tier02">
      <div class="{{c}}__tier-title">
        Tier 02</div>
      <div class="{{c}}__tier-title-spend">
        $150+/YR</div></div>
    <div class="{{c}}__tier-item --tier02-light --bold">
      <div class="{{c}}__tier-title">
        All of the above plus:</div></div>
    <div class="{{c}}__tier-item --tier02-light">
      <div class="{{c}}__tier-title">
        Earn 2 Points per Dollar Spent</div></div>
    <div class="{{c}}__tier-item --tier02-light">
      <div class="{{c}}__tier-title">
        Early Access to Limited Edition Drops</div></div>
    <div class="{{c}}__tier-item --tier02-light">
      <div class="{{c}}__tier-title">
        Double Points Day Access</div></div>
    <div class="{{c}}__tier-item {{c}}--tier-column-header --tier03">
      <div class="{{c}}__tier-title">
        Tier 03</div>
      <div class="{{c}}__tier-title-spend">
        $750+/YR</div></div>
    <div class="{{c}}__tier-item --tier03-light --bold">
      <div class="{{c}}__tier-title">
        All of the above plus:</div></div>
    <div class="{{c}}__tier-item --tier03-light">
      <div class="{{c}}__tier-title">
        Earn 3 Points per Dollar Spent</div></div>
    <div class="{{c}}__tier-item --tier03-light">
      <div class="{{c}}__tier-title">
        Complimentary Shipping</div></div>
    <div class="{{c}}__tier-item --tier03-light">
      <div class="{{c}}__tier-title">
        VIP Event Invites</div></div>
    <div class="{{c}}__tier-item {{c}}--tier-column-header --tier04">
      <div class="{{c}}__tier-title">
        Tier 04</div>
      <div class="{{c}}__tier-title-spend">
        $2500+/YR</div></div>
    <div class="{{c}}__tier-item --tier04-light --bold">
      <div class="{{c}}__tier-title">
        All of the above plus:</div></div>
    <div class="{{c}}__tier-item --tier04-light">
      <div class="{{c}}__tier-title">
        Earn 4 Points per Dollar Spent</div></div>
    <div class="{{c}}__tier-item --tier04-light">
      <div class="{{c}}__tier-title">
        Dedicated VIP Support</div></div>
    <div class="{{c}}__tier-item --tier04-light">
      <div class="{{c}}__tier-title">
        Exclusive Welcome Gift</div></div>



  </div>


</div>
