{% liquid
  assign c = "LoyaltyReferral"
%}

<div
  class="{{c}}"
  id="{{c}}"
  data-component="{{c}}"
>

<div class="{{ c }}__container">
  <div class="{{ c }}__cta-container">
    <div class="{{ c }}__header h3">Refer A Friend</div>
    <div class="{{ c }}__subheader">Give $20, Get $20</div>
    <div class="{{ c }}__body body">
      Refer a friend and you'll each receive $20 in points after their first purchase of $150+
    </div>

    {%- unless customer -%}
    <div class="{{ c }}__cta btn-copy cta--black js-joinRewards">
      <span class="{{ c }}__cta-text">JOIN NOW</span>
    </div>
    {%- endunless -%}

    {%- if customer -%}
    <div data-lion-refer class="{{ c }}__cta btn-copy cta--black data-lion-refer">
      <span class="{{ c }}__cta-text">REFER A FRIEND</span>
    </div>
    {%- endif -%}

  </div>
</div>

<div class="{{ c }}__image">
  <img src="{{ section.settings.refer_image | image_url }}" class="" width="auto" height="auto" loading="lazy"/>
</div>

</div>
