{% liquid
  assign c = "LoyaltyCustomerBlock"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>

  <div class="{{c}}__header h3">Hello, {{ customer.name }}</div>

  <div class="{{c}}__tier h5">VEF Rewards<span id="rewardsTier" class="{{c}}__rewards-tier"></span>
    <a href="#LoyaltyTierCompare" class="{{c}}__question-icon">
      {%- render 'component-icon' icon: 'question' -%}
    </a>
  </div>


  <div id="T4phoneWrapper" class="{{c}}__t4phone-wrapper">
    <span>Your Dedicated Tier 04 Support Line:</span><a id="T4phoneNumber" class="{{c}}__t4phone-number"></a>
  </div>

  <div class="{{c}}__points-available body-l">You currently have <span data-lion-points="approved" class="--bold"></span> points available to redeem</div>

  <a href="#Redemption">
    <div class="{{c}}__redeem-now btn-copy cta--black">
      Redeem now
    </div>
  </a>

  <div class="{{c}}__loyalty-levels">    

    <div data-lion-tier-rules-compare></div>
   
  </div>

  <div class="{{c}}__points-history">
    <div class="{{c}}__header h4">Your Points History</div>
    <div class="{{c}}__points-history-table">
      <div data-lion-history-table></div>
    </div>
  </div>

</div>

<script>

  const tierClass = 'lion-tier-compare__header-cell--current';

  function getInnerText(className) {
    let innerText = document.getElementsByClassName(className)[0].innerText
    return innerText
  }

  function setTierText() {
    setTimeout(
      function() {
        document.getElementById('rewardsTier').innerText = getInnerText(tierClass)
      }, 3500
    );
  }
  
  function setT4phone() {
    setTimeout(
      function() {
        if (getInnerText(tierClass) == 'Tier 04') {
          document.getElementById('T4phoneWrapper').style.display = 'flex';
          document.getElementById('T4phoneNumber').setAttribute('href', 'tel:+13236010198');
          document.getElementById('T4phoneNumber').innerText = '+1 (323) 601-0198';
        }
      }, 3500
    );
  }

  setTierText();
  setT4phone();

</script>
