{% liquid
  assign c = "ProductVideoText"
  assign section = section
  assign video_component_class = c | append: '__video-wrap'
  assign video_class = c | append: '__video'
%}

<div class="{{c}}">
  {% if section.video %}
    {% liquid
      assign video_src = section.video.sources | where: 'mime_type', 'video/mp4'
      assign poster = section.poster | image_url: width: 1000
    %}

    {%
      render 'video',
      component_class: video_component_class,
      class: video_class,
      video: video_src[0].url,
      poster: poster,
    %}
  {% endif %}

  <div class="{{c}}__content">
    {% if section.title %}
      <div class="{{c}}__title h3">
        {{ section.title }}
      </div>
    {% endif %}

    {% if section.text %}
      <div class="{{c}}__text body">
        {{ section.text }}
      </div>
    {% endif %}

    {% if section.cta_url %}
      <a 
        class="{{c}}__cta link"
        href="{{ section.cta_url }}" 
      >
        {{ section.cta_text }}
      </a>
    {% endif %}
  </div>
</div>
