{% liquid
  assign c = "QuickShopProductImages"
  assign product = product
  assign current_variant = current_variant
  assign image_count = 0
  assign featured_image = product.featured_image

  if current_variant.featured_image
    assign featured_image = current_variant.featured_image
  endif
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <div class="{{c}}__cover js-quickShopImageCover">
    <div class="{{c}}__cover-gradient"></div>
  </div>

  <div class="js-quickShopImagesContainer">
    {%
      render 'product-card-badge',
      tags: product.tags
    %}
  
    <div class="{{c}}__images-wrap">
      <div class="{{c}}__container swiper js-imageSlider">
        <div class="{{c}}__wrapper swiper-wrapper">
          {% if featured_image %}
            {% assign image_count = image_count | plus: 1 %}

            <div class="{{c}}__slide {{c}}__slide--variant-image-slide swiper-slide">
              <img 
                class="{{c}}__image {{c}}__image--variant-image swiper-lazy js-quickShopFeaturedImage" 
                data-src="{{ featured_image | image_url: width: 1024 }}"
                alt="{{ featured_image.alt | remove_first: 'image-with-thumbnail' }}"
                width="{{ featured_image.width }}"
                height="{{ featured_image.height }}"
                loading="lazy"
              >
            </div>
          {% endif %}
  
          {% for image in product.images %}
            {% if image.alt contains 'image-with-thumbnail' %}
              {% assign image_count = image_count | plus: 1 %}
  
              <div class="{{c}}__slide swiper-slide">
                <img 
                  class="{{c}}__image swiper-lazy" 
                  data-src="{{ image | image_url: width: 1024 }}"
                  alt="{{ image.alt | remove_first: 'image-with-thumbnail' }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  loading="lazy"
                >
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  
    {% if image_count > 1 %}
      <div class="{{c}}__slider-navigation">
        <button 
          class="{{c}}__arrow {{c}}__arrow--prev js-prevImageBtn"
          aria-label="Previous image"
        >
          {%
            render 'component-icon',
            icon: 'pagination-arrow'
          %}
        </button>
  
        <div class="{{c}}__pagination js-imageSliderPagination"></div>
    
        <button 
          class="{{c}}__arrow {{c}}__arrow--next js-nextImageBtn"
          aria-label="Next image"
        >
          {%
            render 'component-icon',
            icon: 'pagination-arrow'
          %}
        </button>
      </div>
    {% endif %}
  </div>
</div>
